<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <title>ลงทะเบียนรับประกัน</title>
</head>

<body>
<table border="0" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td style="text-align:center"><img width="220px" height="40px" alt="Logo" src="cid:logo.png" /></td>
		</tr>
		<tr>
			<td style="text-align:center"><h3><strong>ลงทะเบียนรับประกัน</strong></h3></td>
		</tr>
	</tbody>
</table>  

<table border="0" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td><strong>เลขที่ใบรับประกัน</strong> {{ .WarrantyNo }}</td>
			<td style="text-align:right"><strong>วันที่</strong> {{ .WarrantyDateTime }}</td>
		</tr>
		<tr>
			<td><strong>ตัวแทนจำหน่าย</strong> {{ .DealerName }}</td>
			<td style="text-align:right"></td>
		</tr>
	</tbody>
</table>
<hr />
<table border="0" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td><strong>ชื่อ-นามสกุล</strong> {{ .CustomerName }}</td>
			<td style="text-align:right"></td>
		</tr>
		<tr>
			<td><strong>เบอร์โทร</strong> {{ .CustomerPhone }}</td>
			<td style="text-align:right"><strong>Email</strong> {{ .CustomerEmail }}</td>
		</tr>
		<tr>
			<td><strong>ทะเบียนรถ</strong> {{ .CustomerLicensePlate }}</td>
			<td style="text-align:right"><strong>เลขไมล์</strong> {{ .CustomerMile }}</td>
		</tr>
	</tbody>
</table>
<hr />
{{range .ProductResponse}}

{{if eq .ProductType "wheels" }}
<p><strong>ประกันสินค้า</strong> ประเภท ล้อแม็ก</p>
<table border="0" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td><strong>แบรนด์ {{ .ProductBrand }} จำนวน {{ .ProductAmount }} วง</strong></td>
			<td style="text-align:right">การรับประกันหมดอายุ</td>
		</tr>
		<tr>
			<td>- รับประกันโครงสร้าง {{ .WarrantyWheelYear }} ปี</td>
			<td style="text-align:right">{{ .ProductStructureExpire }}</td>
		</tr>
		<tr>
			<td>- รับประกันสี {{ .WarrantyWheelColor }} เดือน</td>
			<td style="text-align:right">{{ .ProductColorExpire }}</td>
		</tr>
	</tbody>
</table>
{{end}}

{{if eq .ProductType "tire" }}
<p><strong>ประกันสินค้า</strong> ประเภท ยางรถยนต์</p>
<table border="0" cellpadding="1" cellspacing="1" style="width:500px">
	<thead>
		<tr>
			<th scope="col" style="text-align: left;">แบรนด์ {{ .ProductBrand }} จำนวน {{ .ProductAmount }} เส้น</th>
			<th scope="col" style="text-align: right;">การรับประกันหมดอายุ</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>&nbsp;- รับประกันคุณภาพตามกระบวนการผลิต {{ .WarrantyTireYear }} ปี</td>
			<td style="text-align:right">{{ .ProductTireExpire }}</td>
		</tr>
		<tr>
			<td>-&nbsp;รับประกันระยะ&nbsp;{{ .WarrantyTireMile }} กม.</td>
			<td style="text-align:right">{{ .ProductMileExpire }}&nbsp;กม.</td>
		</tr>
	</tbody>
</table>

<table border="0" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td style="text-align:center"><span style="color:#e74c3c"><strong>**การรับประกันจะหมด หากอย่างใดอย่างหนึ่งถึงก่อน**</strong></span></td>
		</tr>
	</tbody>
</table>
{{if ne .ProductBrand "COSMIS" }}
<table border="0" cellpadding="1" cellspacing="1" style="width:500px">
	<thead>
		<tr>
			<th scope="col" style="text-align:left"><strong>แคมเปญ</strong>&nbsp;ประเภท ยางรถยนต์</th>
			<th scope="col" style="text-align:right">การรับประกันหมดอายุ</th>
		</tr>
		<tr>
			<td>&nbsp;- รับประกัน บาด บวม แตก ตำ&nbsp;{{ .PromotionDay }} วัน</td>
			<td style="text-align:right">{{ .ProductPromotionExpire }}</td>
		</tr>
	</thead>
</table>
{{end}}

{{end}}

{{end}}
<p>&nbsp;</p>

<hr />
<table border="0" cellpadding="1" cellspacing="1" style="width:620px">
	<tbody>
		<tr>
			<td>
			<p>ข้อมูลติดต่อบริษัท</p>

			<p>74/14 หมู่ 6 ตำบลบางจาก อำเภอพระประแดง จังหวัดสมุทรปราการ รหัสไปรษณีย์ 10130</p>

			<p>อีเมล info@ppsuperwheels.com, โทร 024086794-6, LineID @ppsuperwheels</p>
			</td>
			<td ><img width="120px" height="120px" alt="LineID" src="cid:lineid.png" /></td>
		</tr>
	</tbody>
</table>
</body>

</html>